@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron" style="background-color:#00F3FF">
        <h1>TO DO LIST </h1>
        <p>Let's see how it goes</p>
    </div>
</div>
